* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --stroke-border: blue;
  --stroke-icon: #333;
  --stroke-width: 2px;
  --color-primary: #50d9ff;
  --color-secondary: #6450ff;
  --color-third: #50ff76;
  --color-complementary: #ff5950;
}

#defs {
  display: none;
}

div {
  float: left;
  width: 200px;
  height: 200px;
  margin: 1rem;
  border: 2px solid var(--stroke-border);
}

#circle {
  stroke: var(--stroke-icon);
  stroke-width: var(--stroke-width);
  fill: transparent;
}

.rocket {
  path {
    stroke: var(--stroke-icon);
    stroke-width: var(--stroke-width);
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  #rocket-aisle path {
    fill: var(--color-secondary);
  }

  #rocket-body path {
    fill: var(--color-primary);
  }

  #rocket-window path {
    fill: var(--color-third);
  }

  #rocket-flames path {
    stroke: var(--color-complementary);
  }
}

.icon-bin {
  path#bin-cover,
  path#bin-body {
    stroke: #333;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  path#bin-body {
    fill: var(--color-secondary);
  }

  path#bin-cover {
    fill: var(--color-secondary);
    transition: transform 0.4s;
    transform-origin: 85% 30%;
  }

  &:hover #bin-cover {
    transform: rotate3d(0, 0, 1, 15deg);
  }
}

.palm-tree {

  path {
    stroke-width: 2px;
    stroke: #333;
    fill: #a78063;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  

  #coconuts circle {
    fill: #ffd877;
    stroke: #333;
  }

  #leaves path {
    stroke: #333;
    fill: #06ff06;
  }

  #leaves path:nth-child(2),
  #leaves path:nth-child(5) {
    fill: #5de47c;
  }

  .group1,
  .group2 {
    transform-origin: 45% 24%;
  }

  .group1 {
    transition: transform .8s ease-in-out;
  }

  .group2 {
    transition: transform .6s 0.2s ease-in-out;
  }

  &:hover .group1 {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  &:hover .group2 {
    transform: rotate3d(0, 0, 1, 20deg);
  }
}
