:root {
  --rabbit-stroke-primary: #333;
  --rabbit-fill-primary: yellow;
  --rabbit-fill-secondary: pink;
}

#rabbit {
  stroke: var(--rabbit-stroke-primary);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50% 50%;
  transform: rotate(3deg) translate(1.2px, 0);

  #rabbit-tail {
    fill: var(--rabbit-fill-secondary);
  }

  #rabbit-head,
  #rabbit-body {
    fill: var(--rabbit-fill-primary);
  }
}